body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbb2ff;
    color: #5f089d;
    font-weight: 600;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}
/* .container {
    font-family: 'Nunito Sans', sans-serif;
    width: 90%;
    margin: auto;
    max-width: 1200px;
    text-align: center; 
} */

.main-heading {
    margin-bottom: 20px; /* Spacing below the main heading */
}

.content {
    display: flex;
    justify-content: space-between;
}

.guidelines, .reviews {
    flex-basis: 48%; /* Adjust the width as needed */
    text-align: left; /* Align text to the left for sub sections */
}

.guidelines {
    padding-right: 20px; /* Space between columns */
}

.review {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(32, 98, 76);
}

.review p {
    font-size: 1.1em;
}

.annotations {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.annotations label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: rgb(73, 163, 228);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.guidelines table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(160, 197, 255);
    border-radius: 5px;
}

.guidelines th, .guidelines td {
    border: 1px solid #f5f3f3;
    padding: 8px;
}

.guidelines th {
    background-color: #cfcccc;
    text-align: left;
}

.guidelines td ul, .guidelines td ol {
    margin: 0;
    padding-left: 20px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.savebtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover, .savebtn:hover {
    background-color: #45a049;
}
