{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Enter Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito+Sans:opsz@6..12&family=Oswald&family=PT+Sans&family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/pass.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-content">
            <h1>Enter Password</h1>
            <form method="post">
                {% csrf_token %}
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
                <button type="submit" class="button">Start Annoation</button>
            </form>
        </div>
        <div class="right-content">
            <img src="{% static 'image/pass.png' %}" alt="Descriptive Text">
        </div>
    </div>
</body>
</html>
