<!-- templates/myapp/sign_in.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito+Sans:opsz@6..12&family=Oswald&family=PT+Sans&family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-content">
            <h1>Sign In</h1>
            <form method="post" class="email-form">
                {% csrf_token %}
                <div class="input-group">
                    <input type="email" id="email" name="email" required>
                    <button type="submit" class="button">Next</button>
                </div>
            </form>
        </div>
        <div class="right-content">
            <img src="{% static 'image/login.png' %}" alt="Login Image">
        </div>
    </div>
</body>
</html>