{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Start Annotation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Mulish:wght@300&family=Nunito+Sans:opsz@6..12&family=Oswald&family=PT+Sans&family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/ann.css' %}"> <!-- Adjust the path as needed -->
</head>

<body style="font-family: 'Inria Sans', sans-serif; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; background-color: #ddfffd; color: #2f2e2f; font-weight: 600; height: 100vh;">
    <div class="container">
        <h1 class="main-heading">Annotation</h1>
        <div class="content">
            <div class="guidelines" style="margin-bottom: 90px;">
                <h2>Review Annotation Guidelines</h2>
                <table>
                    <tr>
                        <th>Section</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Objective</td>
                        <td>The goal of this annotation task is to categorize the reviews based on whether they are
                            related to privacy features, privacy bugs, or neither.</td>
                    </tr>
                    <tr>
                        <td>Label Categories</td>
                        <td>
                            <ul>
                                <li><strong>Privacy-Related Feature Request</strong>: Assign this label if the review
                                    discusses a feature request related to user privacy.</li>
                                <li><strong>Privacy-Related Bug</strong>: Assign this label if the review reports a bug
                                    related to user privacy.</li>
                                <li><strong>Privacy-Related Feature Request+Bug</strong>: Assign this label if the
                                    review discusses both a feature request and a bug related to user privacy.</li>
                                <li><strong>Not Privacy-Related</strong>: Assign this label if the review is not
                                    discussing any privacy-related aspects.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Annotation Instructions</td>
                        <td>
                            <ol>
                                <li>Read the Review: Carefully read and understand the content of the review.</li>
                                <li>Identify Privacy Context: Determine whether the review is discussing any issue
                                    related to user privacy.</li>
                                <li>Assign Appropriate Label: Based on the content of the review, assign one of the
                                    three labels.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Examples</td>
                        <td>
                            Reviews like advising or requesting to update any privacy-related feature of the app should
                            be labeled as Privacy-Related Feature Request. <br>If a review reports personal data exposure
                            due to a bug, label it as Privacy-Related Bug. <br>Reviews discussing both a feature request and a bug related to user privacy will be labeled as feature request+bug. <br> Reviews discussing the app's user interface
                            with no mention of privacy should be labeled as Not Privacy-Related.
                        </td>
                    </tr>
                    <tr>
                        <td>Additional Notes</td>
                        <td>
                            Focus on the main context if the review contains both privacy-related aspects and other
                            topics. Use your best judgment if the review is ambiguous, and aim for consistency in
                            labeling.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="reviews">
                <p>{{ review.content }}</p>
                <h2>Reviews</h2>
                <form method="post" action="{% url 'handle_annotation_submission' %}">
                    {% csrf_token %}
                    {% for review in page_obj %}
                    <div class="review">
                        <p>{{ review.content }}</p>
                        <div>
                            <input type="radio" id="option1_{{ review.id }}" name="annotation_{{ review.id }}" value="1"
                                {% if selected_option == "1" %}checked{% endif %}>
                            <label for="option1_{{ review.id }}">Privacy-Related Feature Request</label><br>

                            <input type="radio" id="option2_{{ review.id }}" name="annotation_{{ review.id }}" value="2"
                                {% if selected_option == "2" %}checked{% endif %}>
                            <label for="option2_{{ review.id }}">Privacy-Related Bug</label><br>
                            <input type="radio" id="option3_{{ review.id }}" name="annotation_{{ review.id }}" value="3"
                                {% if selected_option == "3" %}checked{% endif %}>
                            <label for="option3_{{ review.id }}">Privacy-Related Feature Request+Bug</label><br>
                            <input type="radio" id="option4_{{ review.id }}" name="annotation_{{ review.id }}" value="4"
                                {% if selected_option == "4" %}checked{% endif %}>
                            <label for="option4_{{ review.id }}">Not Privacy-Related</label>
                        </div>
                    </div>
                    {% endfor %}


                    <!-- Close the loop for page_obj here -->

                    <input type="hidden" name="current_page" value="{{ page_obj.number }}">

                    <div class="pagination">
                        <!-- {% if page_obj.has_previous %}
                        <button type="submit" name="action" value="previous">Previous</button>
                        {% endif %} -->
                        {% if page_obj.has_next %}
                        <button type="submit" name="action" value="next" style="background-color: #4c82af; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Next</button>
                        {% endif %}
                    </div>

                    <button type="submit" name="action" value="save" style="position: absolute; bottom: 20pt; right: 257pt; background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Save</button>
                </form>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    document.querySelector('form').onsubmit = function () {
                        let action = document.querySelector('button[type="submit"][clicked=true]').value;
                        if (action === 'next') {
                            let hasSelected = false;
                            document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
                                if (radio.checked) {
                                    hasSelected = true;
                                }
                            });
                            if (!hasSelected) {
                                alert('Please select an option before moving to the next review.');
                                return false;
                            }
                        }
                        return true;
                    };
                    document.querySelectorAll('button[type="submit"]').forEach(button => {
                        button.addEventListener('click', function () {
                            document.querySelectorAll('button[type="submit"]').forEach(btn => btn.removeAttribute('clicked'));
                            this.setAttribute('clicked', 'true');
                        });
                    });
                });
            </script>
</body>

</html>